In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [2]:
dtype = {
    "Sale": np.int32,
    "SalesAmountInEuro": np.float64,
    "Time_delay_for_conversion": np.int32,
    "click_timestamp": np.int32,
    "nb_clicks_1week": pd.Int64Dtype(),
    "product_price": np.float64,
    "product_age_group": str,
    "device_type": str,
    "audience_id": str,
    "product_gender": str,
    "product_brand": str,
    "product_category1": str,
    "product_category2": str,
    "product_category3": str,
    "product_category4": str,
    "product_category5": str,
    "product_category6": str,
    "product_category7": str,
    "product_country": str,
    "product_id": str,
    "product_title": str,
    "partner_id": str,
    "user_id": str,
}
na_values = {
    "click_timestamp": "0",
    "nb_clicks_1week": "-1",
    "product_price": "-1",
    "product_age_group": "-1",
    "device_type": "-1",
    "audience_id": "-1",
    "product_gender": "-1",
    "product_brand": "-1",
    "product_category1": "-1",
    "product_category2": "-1",
    "product_category3": "-1",
    "product_category4": "-1",
    "product_category5": "-1",
    "product_category6": "-1",
    "product_category7": "-1",
    "product_country": "-1",
    "product_id": "-1",
    "product_title": "-1",
    "partner_id": "-1",
    "user_id": "-1",
}

criteo = pd.read_csv(
    "../data/criteo/Criteo_Conversion_Search/CriteoSearchData",
    names=dtype.keys(),
    dtype=dtype,
    na_values=na_values,
    header=None,
    sep="\t",
)

In [3]:
criteo = criteo.dropna(subset=["partner_id", "user_id", "product_id"])

In [22]:
impressions = criteo[criteo.Sale == 0]
impressions

,Sale,SalesAmountInEuro,Time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,audience_id,product_gender,...,product_category3,product_category4,product_category5,product_category6,product_category7,product_country,product_id,product_title,partner_id,user_id
0,0,-1.0,-1,1598891820,<NA>,0.0,NaN,7E56C27BFF0305E788DA55A029EC4988,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,A66DB02AC1726A8D79C518B7F7AB79F0,NaN,E3DDEB04F8AFF944B11943BB57D2F620,493CFB4A87C50804C94C0CF76ABD19CD
1,0,-1.0,-1,1598925284,0,0.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,NaN,1B491180398E2F0390E6A588B3BCE291,...,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,4C6C62203B4CE5AA6DFCF17F2604DC37,3CE3D1623D32FB2A901822910AF72A0B C83584C673752...,BD01BAFAE73CF38C403978BBB458300C,D0EBCD4402172AE3AA6FD21FB77BDE84
4,0,-1.0,-1,1598905245,<NA>,0.0,NaN,7E56C27BFF0305E788DA55A029EC4988,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,5F4AFF2693601C2EFFE9AF2C1ED4222E,NaN,E3DDEB04F8AFF944B11943BB57D2F620,703B8CFC8D65A67BDF96595CCF992D27
6,0,-1.0,-1,1598940008,<NA>,0.0,NaN,7E56C27BFF0305E788DA55A029EC4988,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,EE31CDA023E1237FBAD9C75E08C1D2BF,NaN,E3DDEB04F8AFF944B11943BB57D2F620,B361216FD8F17C7F748DFAC7EEA9C231
8,0,-1.0,-1,1598933796,1,0.0,88460293E9517D21E39AA889BD5AADC8,7E56C27BFF0305E788DA55A029EC4988,NaN,A5D15FC386510762EC0DDFF54ABE6F94,...,2B30C816DB52E7CFCCF9526143A7C8BD,453F5340FC0B1927E203AF56B9E39B07,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,D15D0027644CA88D3C3F41858D854B93,ED76855EDD299B2585CDCB911F6CECC5 B1A4ED172F028...,6E2A0A83CA3B44030C176D1439120336,0DBD9B05FDE6B4497D79261FA92EB213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995629,0,-1.0,-1,1596998117,14,0.0,88460293E9517D21E39AA889BD5AADC8,7E56C27BFF0305E788DA55A029EC4988,NaN,1B491180398E2F0390E6A588B3BCE291,...,NaN,NaN,NaN,NaN,NaN,F0C08A161AA0404193A7EF78F5C3E06C,81075F8D35AD6A054547EEDBF9C3C845,202165BDC8B614AC3B7F292214B455AD 8859F5D2DCBB5...,CC14152DD0806823ED88BA55D9A5240B,91AAEAC11C0A82339C4413F51EF40873
15995630,0,-1.0,-1,1597018885,0,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,NaN,1B491180398E2F0390E6A588B3BCE291,...,7A6CEBB58995350B3B174F41DA99FBE7,61B7D8AAF123E545037AA95782986E1D,NaN,NaN,NaN,F0C08A161AA0404193A7EF78F5C3E06C,DE8B7BA7EF523912230CB0F52C38061E,1DBBC0561EC13267859FFEEC908945FA 66418DFAB96BE...,4691EA5C1795A32C20FCEF274CC28BE5,E9B8E33F395DB60C9B2A1AA01C8044AE
15995631,0,-1.0,-1,1596960466,5,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,NaN,C45A9AC6D102ACAEEDF0D6F78636D84A,...,NaN,NaN,NaN,NaN,NaN,F0C08A161AA0404193A7EF78F5C3E06C,7169291F07C0D3D301AF763B67FF6A4F,A6846C722EEB95A9DF0F2FC5B2B04CE2 8EED363963B19...,CC14152DD0806823ED88BA55D9A5240B,1DB53816522BE08D341C0BB19189527E
15995632,0,-1.0,-1,1596960481,5,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,NaN,C45A9AC6D102ACAEEDF0D6F78636D84A,...,NaN,NaN,NaN,NaN,NaN,F0C08A161AA0404193A7EF78F5C3E06C,7169291F07C0D3D301AF763B67FF6A4F,A6846C722EEB95A9DF0F2FC5B2B04CE2 8EED363963B19...,CC14152DD0806823ED88BA55D9A5240B,1DB53816522BE08D341C0BB19189527E
15995633,0,-1.0,-1,1596987677,23,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,NaN,1B491180398E2F0390E6A588B3BCE291,...,NaN,NaN,NaN,NaN,NaN,F0C08A161AA0404193A7EF78F5C3E06C,EB400DC557C80F4D71E2AF2AE8B7908C,EE7A103620ADFBBF8833BA5E0F5F73F3 226BC10048E64...,CC14152DD0806823ED88BA55D9A5240B,26C91BFE7D40D586D624E964D24910AA

In [23]:
impressions.describe()

,Sale,SalesAmountInEuro,Time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price
count,10887803.0,10887803.0,10887803.0,1.088780e+07,8299845.0,10887803.0
mean,0.0,-1.0,-1.0,1.600566e+09,407.677488,0.0
std,0.0,0.0,0.0,2.261325e+06,1375.996325,0.0
min,0.0,-1.0,-1.0,1.596439e+09,0.0,0.0
25%,0.0,-1.0,-1.0,1.598647e+09,6.0,0.0
50%,0.0,-1.0,-1.0,1.600723e+09,40.0,0.0
75%,0.0,-1.0,-1.0,1.602514e+09,216.0,0.0
max,0.0,-1.0,-1.0,1.604302e+09,25390.0,0.0

In [25]:
impressions.groupby(["partner_id"]).size().describe()

count    2.920000e+02
mean     3.728700e+04
std      1.618907e+05
min      1.000000e+00
25%      2.002000e+03
50%      7.817500e+03
75%      2.718775e+04
max      2.563390e+06
dtype: float64

In [8]:
import pandas as pd
import os

In [5]:
from cookiemonster.utils import LOGS_PATH
from pathlib import Path
from plotting.criteo_plot import criteo_plot_experiments_side_by_side, criteo_plot_experiments_side_by_side_submission

In [9]:
from utils import save_data_from_multiple_paths

out_path = "ray/criteo/augment_impressions"
os.makedirs(LOGS_PATH.joinpath("ray/criteo/augment_impressions"), exist_ok=True)

paths = [
    ("ray/criteo/augment_impressions_0.1", "3"),
    ("ray/criteo/augment_impressions_0.2", "6"),
    ("ray/criteo/augment_impressions_0.3", "9"),
]
save_data_from_multiple_paths(out_path, paths)

In [12]:
from plotting.macros import NUM_DAYS_PER_EPOCH_X

In [35]:
FIGURES_PATH = Path.home()
unaugmented_results = "ray/criteo/bias_varying_epoch_size"
augmented_results = "ray/criteo/augment_impressions"
variable = "num_days_per_epoch"
default_value = 7
x_axis_title = NUM_DAYS_PER_EPOCH_X

criteo_plot_experiments_side_by_side(
    f"{LOGS_PATH.joinpath(unaugmented_results)}",
    f"{LOGS_PATH.joinpath(augmented_results)}",
    f"{FIGURES_PATH.joinpath('criteo_all_experiments_side_by_side.pdf')}",
    variable,
    default_value,
    x_axis_title
)

In [33]:


FIGURES_PATH = Path.home()


path1 = "ray/criteo/bias_varying_epoch_size"
path2 = "ray/criteo/augmented_bias_varying_epoch_size"
criteo_plot_experiments_side_by_side_submission(
    f"{LOGS_PATH.joinpath(path1)}",
    f"{LOGS_PATH.joinpath(path2)}",
    f"{FIGURES_PATH.joinpath('criteo_a_b_c.pdf')}",
)

In [3]:
path1 = "ray/criteo/bias_varying_epoch_size"

In [5]:
df = pd.read_csv(f"{LOGS_PATH.joinpath(path1)}/rmsres.csv")
variable="num_days_per_epoch"
df = df[df[variable] != 90]

In [9]:
df

,destination,queries_rmsres,baseline,initial_budget,workload_size,num_days_per_epoch,num_days_attribution_window
0,01E57DAC509AE48685D6219DE7718BA8,0.021293,cookiemonster_base,1,1000,1,30
1,01E57DAC509AE48685D6219DE7718BA8,0.020993,cookiemonster_base,1,1000,1,30
2,01E57DAC509AE48685D6219DE7718BA8,0.021143,cookiemonster_base,1,1000,1,30
3,0225D81C97298F6FD63C8868EE8E2228,0.019833,cookiemonster_base,1,1000,1,30
4,0225D81C97298F6FD63C8868EE8E2228,0.026053,cookiemonster_base,1,1000,1,30
...,...,...,...,...,...,...,...
16159,FCE4F900003D609DFA26C6C5CCF8EAC0,0.014889,cookiemonster_base,1,1000,7,30
16160,FDFFFF513B67165A44768DD756B27623,0.009312,cookiemonster_base,1,1000,7,30
16161,FDFFFF513B67165A44768DD756B27623,0.012725,cookiemonster_base,1,1000,7,30
16162,FDFFFF513B67165A44768DD756B27623,0.011778,cookiemonster_base,1,1000,7,30
16163,FDFFFF513B67165A44768DD756B27623,0.012237,cookiemonster_base,1,1000,7,30

In [10]:
df.query("baseline == 'ipa'")

,destination,queries_rmsres,baseline,initial_budget,workload_size,num_days_per_epoch,num_days_attribution_window
4490,01E57DAC509AE48685D6219DE7718BA8,0.021293,ipa,1,1000,1,30
4491,01E57DAC509AE48685D6219DE7718BA8,0.021143,ipa,1,1000,1,30
4492,01E57DAC509AE48685D6219DE7718BA8,NaN,ipa,1,1000,1,30
4493,0225D81C97298F6FD63C8868EE8E2228,0.019382,ipa,1,1000,1,30
4494,0225D81C97298F6FD63C8868EE8E2228,0.018377,ipa,1,1000,1,30
...,...,...,...,...,...,...,...
15261,FCE4F900003D609DFA26C6C5CCF8EAC0,NaN,ipa,1,1000,21,30
15262,FDFFFF513B67165A44768DD756B27623,0.009312,ipa,1,1000,21,30
15263,FDFFFF513B67165A44768DD756B27623,NaN,ipa,1,1000,21,30
15264,FDFFFF513B67165A44768DD756B27623,NaN,ipa,1,1000,21,30
15265,FDFFFF513B67165A44768DD756B27623,NaN,ipa,1,1000,21,30

In [8]:
df.queries_rmsres.describe()

count    11615.000000
mean         0.028475
std          0.016800
min          0.007224
25%          0.018135
50%          0.025330
75%          0.030821
max          0.195888
Name: queries_rmsres, dtype: float64

In [12]:
df.dropna().groupby(["num_days_per_epoch", "baseline"]).size()

num_days_per_epoch  baseline
1                   cookiemonster         898
                    cookiemonster_base    898
                    ipa                   149
7                   cookiemonster         898
                    cookiemonster_base    898
                    ipa                   146
14                  cookiemonster         898
                    cookiemonster_base    898
                    ipa                   140
21                  cookiemonster         898
                    cookiemonster_base    898
                    ipa                   143
30                  cookiemonster         898
                    cookiemonster_base    898
                    ipa                   131
60                  cookiemonster         898
                    cookiemonster_base    898
                    ipa                   130
dtype: int64

In [14]:
130 * 100 / 898

14.476614699331849

In [13]:
149 * 100 / 898

16.592427616926503

In [6]:
df = pd.read_csv(f"{LOGS_PATH.joinpath(path1)}/rmsres.csv").query("num_days_per_epoch == 7")
df

,destination,queries_rmsres,baseline,initial_budget,workload_size,num_days_per_epoch,num_days_attribution_window
9878,01E57DAC509AE48685D6219DE7718BA8,0.021293,ipa,1,1000,7,30
9879,01E57DAC509AE48685D6219DE7718BA8,0.021143,ipa,1,1000,7,30
9880,01E57DAC509AE48685D6219DE7718BA8,NaN,ipa,1,1000,7,30
9881,0225D81C97298F6FD63C8868EE8E2228,0.019382,ipa,1,1000,7,30
9882,0225D81C97298F6FD63C8868EE8E2228,0.018377,ipa,1,1000,7,30
...,...,...,...,...,...,...,...
16159,FCE4F900003D609DFA26C6C5CCF8EAC0,0.014889,cookiemonster_base,1,1000,7,30
16160,FDFFFF513B67165A44768DD756B27623,0.009312,cookiemonster_base,1,1000,7,30
16161,FDFFFF513B67165A44768DD756B27623,0.012725,cookiemonster_base,1,1000,7,30
16162,FDFFFF513B67165A44768DD756B27623,0.011778,cookiemonster_base,1,1000,7,30
16163,FDFFFF513B67165A44768DD756B27623,0.012237,cookiemonster_base,1,1000,7,30

In [7]:
df.query("baseline == 'ipa'").queries_rmsres.describe()

count    146.000000
mean       0.020877
std        0.006443
min        0.007224
25%        0.015722
50%        0.020458
75%        0.027190
max        0.030709
Name: queries_rmsres, dtype: float64

In [8]:
df.query("baseline == 'cookiemonster'").queries_rmsres.describe()

count    898.000000
mean       0.020934
std        0.006249
min        0.007224
25%        0.015633
50%        0.019641
75%        0.027088
max        0.037795
Name: queries_rmsres, dtype: float64

In [11]:
df.query("baseline == 'cookiemonster' and queries_rmsres < 0.030709").queries_rmsres.describe()

count    865.000000
mean       0.020494
std        0.005929
min        0.007224
25%        0.015510
50%        0.019260
75%        0.026395
max        0.030683
Name: queries_rmsres, dtype: float64

In [12]:
865/898

0.9632516703786191

In [9]:
df.query("baseline == 'cookiemonster_base'").queries_rmsres.describe()

count    898.000000
mean       0.033533
std        0.018901
min        0.007224
25%        0.021743
50%        0.028903
75%        0.039073
max        0.144008
Name: queries_rmsres, dtype: float64

In [13]:
df = pd.read_csv(f"{LOGS_PATH.joinpath(path1)}/rmsres.csv")

In [14]:
df.query("num_days_per_epoch == 1").groupby("baseline").queries_rmsres.describe()

,count,mean,std,min,25%,50%,75%,max
baseline,,,,,,,,
cookiemonster,898.0,0.019821,0.006137,0.007224,0.014859,0.017890,0.026389,0.031809
cookiemonster_base,898.0,0.032509,0.017561,0.007224,0.021344,0.028613,0.037820,0.130774
ipa,149.0,0.020869,0.006440,0.007224,0.015615,0.020503,0.027150,0.030709

In [16]:
df.query("num_days_per_epoch == 14").groupby("baseline").queries_rmsres.describe()

,count,mean,std,min,25%,50%,75%,max
baseline,,,,,,,,
cookiemonster,898.0,0.022850,0.007411,0.007224,0.016846,0.022164,0.028332,0.058219
cookiemonster_base,898.0,0.034547,0.020440,0.007224,0.021802,0.029167,0.040041,0.144008
ipa,140.0,0.020846,0.006544,0.007224,0.015700,0.020514,0.027163,0.030709

In [19]:
100 * (0.022850 - 0.019821) / 0.019821

15.28177185813027

In [15]:
df.query("num_days_per_epoch == 60").groupby("baseline").queries_rmsres.describe()

,count,mean,std,min,25%,50%,75%,max
baseline,,,,,,,,
cookiemonster,898.0,0.024739,0.009953,0.007224,0.017966,0.024011,0.029026,0.092481
cookiemonster_base,898.0,0.037399,0.024952,0.007224,0.022416,0.029746,0.042311,0.195888
ipa,130.0,0.021101,0.006549,0.007224,0.016064,0.020848,0.027237,0.030709

In [20]:
100 * (0.024739	- 0.022850) / 0.022850

8.266958424507667

In [21]:
100 * (0.024739	- 0.019821) / 0.019821

24.81206800867768