In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from datetime import datetime

In [4]:
from cookiemonster.utils import LOGS_PATH
from pathlib import Path
from plotting.patcg_plot import patcg_plot_experiments_side_by_side

In [56]:
FIGURES_PATH = Path.home()

path = f"{LOGS_PATH.joinpath('ray/patcg/varying_epoch_granularity_aw_7')}"
patcg_plot_experiments_side_by_side(
    path, f"{FIGURES_PATH.joinpath('fig5_a_b_c.pdf')}"
)

Avg budget consumption plot: IPA executed 3 queries
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [6.088524941004687e-05, 6.089237382490879e-05, 6.1269967812591e-05, 6.13198387166245e-05, 6.140533169496763e-05, 6.142670493955342e-05, 6.144095376927728e-05, 6.144095376927728e-05, 6.150507350303463e-05, 6.155494440706813e-05, 0.0002142169060686, 0.0002146871174495, 0.0002150504626074, 0.0002152356973938, 0.0002152428218087, 0.0002152713194681, 0.0002152998171276, 0.0002154565542546, 0.0002157557796788, 0.000216567962973, 0.0004053578323991, 0.0004056356845788, 0.0004060275273962, 0.0004061272692042, 0.0004062626330866, 0.0004064122457987, 0.000406447867873, 0.0004065119876068, 0.000407224429093, 0.0004072529267524, 0.0005858406340959, 0.0005859617491485, 0.000586040117712, 0.0005861256106904, 0.0005865673244118, 0.0005867026882942, 0.0005870446602075, 0.0005871800240899, 0.0005873153879723, 0.0005876003645668, 0.0007737185784193, 0.0007741175456515, 0.0007742101630447, 0.0007742172874596, 0.0007742386607042, 0.0007744238954906, 0.000774559259373, 0.0007749582266052, 0.0007751862078808, 0.0007753286961781, 0.0009596444330704, 0.0009598652899311, 0.000960128893281, 0.0009601360176959, 0.0009601858885999, 0.0009605563581728, 0.0009606418511511, 0.000960648975566, 0.0009609339521604, 0.0009613400438076, 0.0011439031746439, 0.0011439886676222, 0.0011441596535789, 0.0011442522709721, 0.0011442665198019, 0.0011445586208112, 0.0011446654870341, 0.0011446868602787, 0.0011447866020868, 0.0011451713204893, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [0.0410481284083962, 0.0410515338787, 0.0411737033447442, 0.0411891490761638, 0.0412191428627305, 0.0412261532869541, 0.0412310833820383, 0.0412327077486267, 0.0412478827522816, 0.0412782755060805, 0.0780271757771961, 0.0781057010778255, 0.078187931074184, 0.0782120400940833, 0.0782127097890805, 0.0782143341556695, 0.0782193212460742, 0.07823889913812, 0.0782970771098982, 0.0784538427345624, 0.1112514712620311, 0.1112975092308503, 0.1113664308201967, 0.1113772171842933, 0.1114074247032957, 0.111434397737952, 0.1114389288658024, 0.1114485040793729, 0.1115669688496492, 0.1115805622332003, 0.145423185677216, 0.145436408591194, 0.145452652257072, 0.1454716032005965, 0.1455351387323074, 0.1455569109441161, 0.1456079360033348, 0.1456332134272538, 0.1456649740686946, 0.1457105560749612, 0.1772150463091403, 0.1772838396591086, 0.1772987866815022, 0.1773002543109651, 0.1773027193585095, 0.1773346652347791, 0.1773610825651106, 0.1774287217598706, 0.177478906138203, 0.1775043830457722, 0.2117185305265569, 0.2117495502288994, 0.2117963861322533, 0.2117984094660762, 0.2118078991866826, 0.2118734580523142, 0.2118939478694796, 0.2118949310387316, 0.2119362953914657, 0.2119998594209329, 0.2435783581202602, 0.2436023531495381, 0.2436295541655074, 0.2436462537939604, 0.2436512123867088, 0.2437221715588018, 0.2437462235833985, 0.2437512819179556, 0.2437711732842695, 0.2438474472698538, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [6.088524941004687e-05, 6.089237382490879e-05, 6.1269967812591e-05, 6.13198387166245e-05, 6.140533169496763e-05, 6.142670493955342e-05, 6.144095376927728e-05, 6.144095376927728e-05, 6.150507350303463e-05, 6.155494440706813e-05, 0.0002142169060686, 0.0002146871174495, 0.0002150504626074, 0.0002152356973938, 0.0002152428218087, 0.0002152713194681, 0.0002152998171276, 0.0002154565542546, 0.0002157557796788, 0.000216567962973, 0.0004053578323991, 0.0004056356845788, 0.0004060275273962, 0.0004061272692042, 0.0004062626330866, 0.0004064122457987, 0.000406447867873, 0.0004065119876068, 0.000407224429093, 0.0004072529267524, 0.0005858406340959, 0.0005859617491485, 0.000586040117712, 0.0005861256106904, 0.0005865673244118, 0.0005867026882942, 0.0005870446602075, 0.0005871800240899, 0.0005873153879723, 0.0005876003645668, 0.0007737185784193, 0.0007741175456515, 0.0007742101630447, 0.0007742172874596, 0.0007742386607042, 0.0007744238954906, 0.000774559259373, 0.0007749582266052, 0.0007751862078808, 0.0007753286961781, 0.0009596444330704, 0.0009598652899311, 0.000960128893281, 0.0009601360176959, 0.0009601858885999, 0.0009605563581728, 0.0009606418511511, 0.000960648975566, 0.0009609339521604, 0.0009613400438076, 0.0011439031746439, 0.0011439886676222, 0.0011441596535789, 0.0011442522709721, 0.0011442665198019, 0.0011445586208112, 0.0011446654870341, 0.0011446868602787, 0.0011447866020868, 0.0011451713204893, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497, 0.0013252052840497]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [0.0410481284083962, 0.0410515338787, 0.0411737033447442, 0.0411891490761638, 0.0412191428627305, 0.0412261532869541, 0.0412310833820383, 0.0412327077486267, 0.0412478827522816, 0.0412782755060805, 0.0780271757771961, 0.0781057010778255, 0.078187931074184, 0.0782120400940833, 0.0782127097890805, 0.0782143341556695, 0.0782193212460742, 0.07823889913812, 0.0782970771098982, 0.0784538427345624, 0.1112514712620311, 0.1112975092308503, 0.1113664308201967, 0.1113772171842933, 0.1114074247032957, 0.111434397737952, 0.1114389288658024, 0.1114485040793729, 0.1115669688496492, 0.1115805622332003, 0.145423185677216, 0.145436408591194, 0.145452652257072, 0.1454716032005965, 0.1455351387323074, 0.1455569109441161, 0.1456079360033348, 0.1456332134272538, 0.1456649740686946, 0.1457105560749612, 0.1772150463091403, 0.1772838396591086, 0.1772987866815022, 0.1773002543109651, 0.1773027193585095, 0.1773346652347791, 0.1773610825651106, 0.1774287217598706, 0.177478906138203, 0.1775043830457722, 0.2117185305265569, 0.2117495502288994, 0.2117963861322533, 0.2117984094660762, 0.2118078991866826, 0.2118734580523142, 0.2118939478694796, 0.2118949310387316, 0.2119362953914657, 0.2119998594209329, 0.2435783581202602, 0.2436023531495381, 0.2436295541655074, 0.2436462537939604, 0.2436512123867088, 0.2437221715588018, 0.2437462235833985, 0.2437512819179556, 0.2437711732842695, 0.2438474472698538, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141, 0.276838603438141]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80] [0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.2302585092994046, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.4605170185988092, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138, 0.6907755278982138]

In [27]:
variable="num_days_per_epoch"
df = pd.read_csv(f"{path}/rmsres.csv")
df = df.query(f"{variable} in [1 , 7, 14, 21, 30]")
df

,destination,queries_rmsres,baseline,initial_budget,workload_size,num_days_per_epoch,num_days_attribution_window
0,1,0.004676,ipa,1,80,1,7
1,1,0.001589,ipa,1,80,1,7
2,1,0.001659,ipa,1,80,1,7
3,1,NaN,ipa,1,80,1,7
4,1,NaN,ipa,1,80,1,7
...,...,...,...,...,...,...,...
1435,1,0.201573,cookiemonster_base,1,80,7,7
1436,1,0.205511,cookiemonster_base,1,80,7,7
1437,1,0.204431,cookiemonster_base,1,80,7,7
1438,1,0.198703,cookiemonster_base,1,80,7,7
1439,1,0.185813,cookiemonster_base,1,80,7,7

In [28]:
df.query(f"{variable} == 1")

,destination,queries_rmsres,baseline,initial_budget,workload_size,num_days_per_epoch,num_days_attribution_window
0,1,0.004676,ipa,1,80,1,7
1,1,0.001589,ipa,1,80,1,7
2,1,0.001659,ipa,1,80,1,7
3,1,NaN,ipa,1,80,1,7
4,1,NaN,ipa,1,80,1,7
...,...,...,...,...,...,...,...
395,1,0.071805,cookiemonster,1,80,1,7
396,1,0.080490,cookiemonster,1,80,1,7
397,1,0.091602,cookiemonster,1,80,1,7
398,1,0.078702,cookiemonster,1,80,1,7
399,1,0.072510,cookiemonster,1,80,1,7

In [3]:
impressions = pd.read_csv("../data/patcg/v375_patcg_impressions.csv")

In [8]:
impressions

        exp_timestamp  device_id  filter  key                          date
0        1.654042e+09    7581514     NaN  NaN 1970-01-01 00:00:01.654041602
1        1.654042e+09    4689213     NaN  NaN 1970-01-01 00:00:01.654041606
2        1.654042e+09   14862947     NaN  NaN 1970-01-01 00:00:01.654041606
3        1.654042e+09    4390064     NaN  NaN 1970-01-01 00:00:01.654041611
4        1.654042e+09   12717995     NaN  NaN 1970-01-01 00:00:01.654041612
...               ...        ...     ...  ...                           ...
913979   1.656634e+09   10673461     NaN  NaN 1970-01-01 00:00:01.656633584
913980   1.656634e+09    3242575     NaN  NaN 1970-01-01 00:00:01.656633589
913981   1.656634e+09   12966745     NaN  NaN 1970-01-01 00:00:01.656633591
913982   1.656634e+09   12667473     NaN  NaN 1970-01-01 00:00:01.656633593
913983   1.656634e+09   12867503     NaN  NaN 1970-01-01 00:00:01.656633594

[913984 rows x 5 columns]

In [11]:
impressions["date"] = impressions["exp_timestamp"].apply(lambda x: datetime.fromtimestamp(x).date())

In [12]:
impressions.date.describe()

count         913984
unique            31
top       2022-06-13
freq           30830
Name: date, dtype: object

In [13]:
conversions = pd.read_csv("../data/patcg/v375_patcg_conversions.csv")

In [14]:
conversions

          conv_timestamp  device_id  conv_amount  key   epsilon  filter
0           1.654042e+09   12197661        15.00    0  0.690776     NaN
1           1.654042e+09   13030686        15.00   16  0.690776     NaN
2           1.654042e+09    1595793         3.23   72  0.690776     NaN
3           1.654042e+09   13504834         3.79   56  0.690776     NaN
4           1.654042e+09   12468664        14.01   32  0.690776     NaN
...                  ...        ...          ...  ...       ...     ...
24113013    1.656634e+09   13005347         5.24   55  0.690776     NaN
24113014    1.656634e+09   14568535        11.16    7  0.690776     NaN
24113015    1.656634e+09    3276324         4.92    7  0.690776     NaN
24113016    1.656634e+09    3191774         2.20   63  0.690776     NaN
24113017    1.656634e+09   14737711        12.05    7  0.690776     NaN

[24113018 rows x 6 columns]

In [15]:
conversions["date"] = conversions["conv_timestamp"].apply(lambda x: datetime.fromtimestamp(x).date())

In [17]:
conversions.sort_values("date")

,conv_timestamp,device_id,conv_amount,key,epsilon,filter,date
0,1.654042e+09,12197661,15.00,0,0.690776,NaN,2022-05-31
89509,1.654051e+09,9755602,5.44,40,0.690776,NaN,2022-05-31
89508,1.654051e+09,11869280,6.42,32,0.690776,NaN,2022-05-31
89507,1.654051e+09,184655,13.60,16,0.690776,NaN,2022-05-31
89506,1.654051e+09,10545333,12.94,24,0.690776,NaN,2022-05-31
...,...,...,...,...,...,...,...
23667468,1.656586e+09,6750801,15.00,71,0.690776,NaN,2022-06-30
23667469,1.656586e+09,15080876,15.00,71,0.690776,NaN,2022-06-30
23667470,1.656586e+09,4402232,15.00,71,0.690776,NaN,2022-06-30
23667452,1.656586e+09,13519778,4.22,79,0.690776,NaN,2022-06-30
24113017,1.656634e+09,14737711,12.05,7,0.690776,NaN,2022-06-30